<center><font color="darkyellow" size="4"><b> ⚠️⚠️⚠️   &nbsp; &nbsp;! Pensez à faire une copie <u>dans votre drive</u> avant de commencer !  &nbsp; &nbsp;⚠️⚠️⚠️</b></font></center>

<center><font color="orange" size="6"><b>Les données structurées au format CSV (1ère partie)

<font color="orange" size="6">① Lecture &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
② requêtes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 ③ Tris</b></font></center>



---

<center><font color="orange" size="6"><b>TP d'application</b></font></center>


---

⏬ Téléchargez maintenant le fichier [villes.csv](https://drive.google.com/file/d/1Zi_spru-r9J1TMTiT8lw18wTNya8hClw/view?usp=sharing) puis importez le dans la session. Il est trop volumineux pour un affichage rapide.... vous allez devoir travailler dessus pour savoir ce qu'il contient !

Nous reprenons la fonction readCSV du 1er TP

In [ ]:
import csv
def readCSV( filename:str ) -> list :
    '''
    Entrée : nom d'un fichier CSV
    Sortie : la fonction renvoie les données lues dans une liste de dictionnaires
    '''
    with open(filename, mode = "r" , encoding='utf-8' , newline = '') as csvFile :
        reader = csv.DictReader(csvFile)
        lu = [dict(ligne) for ligne in reader]
    print('nombre d\'enregistrements lus : ',len(lu) )
    return lu

<font color="orange" size="4">➽ Lire villes.csv et  créer la liste <u>*villes*</u> en utilisant notre fonction readCSV() :</font>

In [ ]:
# Avec la fonction readCSV() 
help(readCSV)
villes = readCSV('villes.csv')

Help on function readCSV in module __main__:

readCSV(filename: str) -> list
    Entrée : nom d'un fichier CSV
    Sortie : la fonction renvoie les données lues dans une liste de dictionnaires

nombre d'enregistrements lus :  36700

<font color="orange" size="4">➽ Affichez toutes les infos de la première ville du fichier:</font>

In [ ]:
# votre code

{'dep': '1', 'nom': 'Ozan', 'cp': '1190', 'nb_hab_2010': '618', 'nb_hab_1999': '469', 'nb_hab_2012': '500', 'dens': '93', 'surf': '6.6', 'long': '4.91667', 'lat': '46.3833', 'alt_min': '170', 'alt_max': '205'}

<font color="orange" size="4">➽ Affichez le nombre de villes:</font>

In [ ]:
# votre code

36700

<font color="orange" size="4">➽ Affichez les noms de toutes les villes de plus de 300000 habitants en 2012: 

(vous précéderez du nombre de ces villes)</font>

> il y a  5  villes de plus 300k ha en 2012 :<br>
> Nice<br>
> Marseille<br>
> Toulouse<br>
> Lyon<br>
> Paris

In [ ]:
# a vous

<font color="orange" size="4">➽ Affichez les noms et le nombre d'habitants de toutes les villes de plus de 300000 habitants en 2012: 

(vous précéderez du nombre de ces villes)</font>

vous afficherez des tuples :

> il y a  5  villes de plus 300k ha en 2012 :<br>
> ('Nice', '344900')<br>
>('Marseille', '851400')<br>
>('Toulouse', '439600')<br>
>('Lyon', '474900')<br>
>('Paris', '2211000')

In [ ]:
villes300k2012tuples = ...

('Lyon', '474900')
('Marseille', '851400')
('Nice', '344900')
('Paris', '2211000')
('Toulouse', '439600')

<font color="orange" size="4">➽ Refaire la même chose, mais cette fois en créant une liste de dictionnaires: 

(vous précéderez du nombre de ces villes)</font>

vous afficherez la liste des dictionnaires :

> il y a  5  villes de plus 300k ha en 2012 :<br>
> {'nom': 'Nice', 'nb_hab_2012': '344900'}<br>
> {'nom': 'Marseille', 'nb_hab_2012': '851400'}<br>
> {'nom': 'Toulouse', 'nb_hab_2012': '439600'}<br>
> {'nom': 'Lyon', 'nb_hab_2012': '474900'}<br>
> {'nom': 'Paris', 'nb_hab_2012': '2211000'}

In [ ]:
villes300k2012dict = ...

<font color="orange" size="4">➽ Triez la liste villes300k2012tuples de la plus à la moins peuplée : 
</font>

In [ ]:
# il faut définir une clef qui prend un tuple et renvoi l'élement d'indice souhaité pour le tri
# puis sort(key)...) comme pour trier une liste de dictionnaire

il y a  5  villes de plus 300k ha en 2012 :
('Paris', '2211000')
('Marseille', '851400')
('Lyon', '474900')
('Toulouse', '439600')
('Nice', '344900')

<font color="orange" size="4">➽ Triez de même la liste villes300k2012dict de la plus à la moins peuplée : 
</font>

In [ ]:
# a vous

il y a  5  villes de plus 300k ha en 2012 :
{'nom': 'Paris', 'nb_hab_2012': '2211000'}
{'nom': 'Marseille', 'nb_hab_2012': '851400'}
{'nom': 'Lyon', 'nb_hab_2012': '474900'}
{'nom': 'Toulouse', 'nb_hab_2012': '439600'}
{'nom': 'Nice', 'nb_hab_2012': '344900'}

<font color="orange" size="4">➽ Affichez les noms et nb d'ha en 2012 des villes de plus de 10000 habitants en 2012 situées en Ille et vilaine : 

vous précéderez du nombre de ces villes :

```
il y a  9  villes de plus 10k ha en 2012 en Ille et Vilaine (en 2012):
{'nom': 'Rennes', 'nb_hab_2012': '206700'}
{'nom': 'Saint-Malo', 'nb_hab_2012': '48200'}
{'nom': 'Dinard', 'nb_hab_2012': '11000'}
{'nom': 'Bruz', 'nb_hab_2012': '15600'}
{'nom': 'Betton', 'nb_hab_2012': '10200'}
{'nom': 'Fougères', 'nb_hab_2012': '20100'}
{'nom': 'Vitré', 'nb_hab_2012': '16700'}
{'nom': 'Saint-Jacques-de-la-Lande', 'nb_hab_2012': '10200'}
{'nom': 'Cesson-Sévigné', 'nb_hab_2012': '15200'}
```
</font>

In [ ]:
villesPlus10k_35 = ...

Sur cette dernière requête, vous devez remarquer que les villes sont restées **triées** par nombre d'hab décroissant.


Deux dernières petites choses : il est aussi possible d'ajouter des colonnes, et bien sur aussi d'enregistrer notre travail !

<font color="orange" size="6">➽ Ajouter une colonne</font>

In [ ]:
# ajoutons une clé à nos dictionnaires
# soit une colonne si on enrengistre ensuite
for v in villes :
    v['diff2012_2010'] = int(v['nb_hab_2012']) - int(v['nb_hab_2010'])
villes[0]

{'alt_max': '205',
 'alt_min': '170',
 'cp': '1190',
 'dens': '93',
 'dep': '1',
 'diff2012_2010': -118,
 'lat': '46.3833',
 'long': '4.91667',
 'nb_hab_1999': '469',
 'nb_hab_2010': '618',
 'nb_hab_2012': '500',
 'nom': 'Ozan',
 'surf': '6.6'}

<font color="orange" size="4">➽ Pouvez vous faire afficher ces informations :</font>

> il y a  14956  villes dont la population a augmenté entre 2010 et  2012<br>
> La plus forte hausse est de + 3303  à  Le Havre<br>
> la variation totale de population pour ces villes en croissance est de  627487<br>
> la variation totale de population pour l'ensemble des villes Françaises est de  -621369

In [ ]:
# trier la liste des villes  par diff décroissant

# extraire les ville ou la diff est >=0
# (on pourra se contenter de tuples)

# afficher le nb_hab de la 1ere ville

# extraire la colonne diff dans un liste et faire la somme

# faire la somme des diff de toutes les villes

<font color="orange" size="6">➽ Modifier une colonne</font>

Il est possible de modifer les éléments d'une colonne :

- on parcours la liste
- pour chaque élément, on modifie la colonne

In [ ]:
# exemple : on va ajouter 1 habitant dans toutes les villes :

print("avant :")
for i in range(5) :
    print(villes[i]['nom'] , " ",villes[i]['nb_hab_1999'])

# modification :
for v in villes :
    v['nb_hab_1999'] = str( int(  v['nb_hab_1999'] ) + 1 )


print('------------------------------------------------')
print("après :")
for i in range(5) :
    print(villes[i]['nom'] , " ",villes[i]['nb_hab_1999'])

<font color="orange" size="6">➽ Modifier le type d'une ou plusieurs colonnes</font>

Dans l'exemple précédent, on a converti en int puis reconverti en str.

C'est un peu lourd et finalement, il serait plutôt judicieux de convertir en int ou float les colonnes numériques.

Téléchargez puis importez le fichier [libCSV0.py ](https://drive.google.com/file/d/1bQ2PRAS0RisbcY22vFs_cdXSSYqh13z2/view?usp=sharing)

Il contient une librairie (très limitée) de fonctions de traitement de listes de dictionnaires. Nous examinerons son contenu ultérieurement, nous allons d'abord voir comment utiliser une librairie en s'appuyant seulement sur help()

In [ ]:
from  libSCV0 import *

help(setColType)

Help on function setColType in module libSCV0:

setColType(lstDict: list, cle: str, typeOf: type) -> None
    Entrée : lstDict (liste de dictionnaire)
    cle : nom d'une clef des dictionnaires (str)
    typeOf : int, float, ou str : type dans lequel on souhaite encoder la colonne
    La fonction modifie par effet de bord la liste lstDict
    Le type d'une seule colonne est modifiée


    exemple :
    >>> neveux = [ {"nom" : "Riri" , "age" : "12" , "argent":"41.3"} ,
                {"nom" : "Fifi" , "age" : "15" , "argent":"21.0"} ,
                {"nom" : "Loulou" , "age" : "13" , "argent":"11.5"}]
    >>> lstTypes = { 'age' : int , 'argent' : float }
    >>> setColsTypes(neveux , 'age' , int )
    [ {"nom" : "Riri" , "age" : 12 , "argent":"41.3"} ,
                {"nom" : "Fifi" , "age" : 15 , "argent":"21.0"} ,
                {"nom" : "Loulou" , "age" : 13 , "argent":"11.5"}]

    # les éléments de la colonne age sont maintenant de types int.

<font color="orange" size="4">➽ Utilisez la fonction setColType pour convertir en int une colonne</font>

Convertir en int la colonnes nb_hab_1999

In [ ]:
# votre code

In [ ]:
assert type(villes[0]['nb_hab_1999']) == int

<font color="orange" size="6">➽ Enregistrer le travail</font>

In [ ]:
# on extrait une portion du fichier :
vPlus = [(v['nom'],v['nb_hab_2010'],v['nb_hab_2012'],v['diff2012_2010']) for v in villes if v['diff2012_2010'] > 0 ]

# et on enregistre :
with open('villes_hausse2012.csv', 'w', newline='') as csvfile:
    fieldnames = ['nom', 'nb_hab_2010', 'nb_hab_2012','diff2012_2010']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    for v in vPlus :
        writer.writerow({'nom': v[0], 'nb_hab_2010': v[1],'nb_hab_2012':v[2] ,'diff2012_2010':v[3]})

double cliquez le fichier créé pour vérifier.

In [ ]:
# autre approche : créer la liste de dictionnaires lors de la requête :
vPlus = [{ 'nom':v['nom'] ,\
           'nb_hab_2010':v['nb_hab_2010'] , \
           'nb_hab_2012':v['nb_hab_2012'], \
           'diff2012_2010':v['diff2012_2010'] }\
            for v in villes if v['diff2012_2010'] > 0 ]

# et on enregistre :
with open('villes_hausse2012_2.csv', 'w', newline='') as csvfile:
    fieldnames = v.keys()
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    for v in vPlus :
        writer.writerow(v)


<center>

---

*Auteurs* :  **Jean-Louis Thirot - Mireille Coilhac**

Publié sous licence CC BY-NC-SA


---
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" width="200" src="https://s2.qwant.com/thumbr/700x0/f/9/436dcce5e02185c0b2e1b0e7a969aa81d7b0438d0a7f2eaee89abb9661b70b/cc-by-nc-sa.svg_.png?u=http%3A%2F%2Fopensiddur.org%2Fwp-content%2Fuploads%2F2011%2F03%2Fcc-by-nc-sa.svg_.png&q=0&b=1&p=0&a=1" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.